<<<<<<< HEAD
body {
    padding: 0px;
    margin: 0px auto;
    height: 100%;
}

.login-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Assistant', sans-serif;
}

.user-login {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
}

.user-login img {
    margin-top: 66px;
    margin-bottom: 40px;
}

.user-login label {
    font-size: 16px;
    color: #555555;
    font-family: 'Assistant', sans-serif;
}

.log-input {
    width: 274px;
    height: 38px;
    background: #F1F1F1;
    border-radius: 10px;
    padding: 10px;
    border-color: #00C6CE;
    margin: 18px;
    text-align: center;
    color: #7C7D7E;
}

.enter-btn {
    width: 123px;
    height: 41px;
    background-color: #00C6CE;
    border-radius: 8px;
    border-style: none;
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Assistant', sans-serif;
}

.register-btn {
    --border-style: none;
    margin-top: 70px;
    font-size: 18px;
    color: #00C6CE;
    background: none;
}

.login-2page {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Assistant', sans-serif;
}

@media (min-width: 1000px) {
  
    .first-aside {
        display: flex;
        width: 50%;
        height: 39rem;
        background-image: url(img/casitas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .user-login {
        width: 50%
    }

    .second-aside {
        display: flex;
        width: 50%;
        height: 39rem;
        background-image: url(img/street.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

  }
    
=======
* {
    padding: 0;
    margin: 0;
}

@media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
        scroll-behavior: smooth;
    }
}

body {
    background: url(img/BG.png);
    background-repeat: repeat;
}

.hidden {
    display: none;
}

.logo {
    width: 250px;
}

.firstWelcome {
    text-align: center;
    flex-direction: column;
}

.welcome {
    color: #555555;
    font-size: 24px;
}

.username,
.password {
    color: #555555;
    border-color: #00C6CE;
    outline-width: 2px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 30px;
    background-color: #f1f1f1;
    outline: 0;
}

.username:focus,
.password:focus {
    outline: none;
}

.sendInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 35px;
    width: 550;
    top: 0%;
    bottom: 0%;
    margin-top: 30px;
    background: #00C6CE;
    border: 2px solid #38D8C9;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 20px;
    color: #f1f1f1;
    padding: 5px 10px 15px 10px;
}

.sendInfo:hover {
    background: #38D8C9 100%;
    cursor: pointer;
}

.register1 {
    color: #38D8C9;
    font-size: 20px;
    margin-top: 25px;
}
>>>>>>> H.U-1
